<a href="https://colab.research.google.com/github/AI4GoodE1/AI4GoodE1/blob/main/Bayes_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/AI4GoodE1/AI4GoodE1/main/fraud_email_preprocessed.csv')
df.head()

                                                Text  Class
0  supply quality china s exclusive dimensions at...      1
1                        over  sidlet me know  thx        0
2  dear friend greetings to you i wish to accost ...      1
3  mr  cheung puihang seng bank ltd des voeux rd ...      1
4         not a surprising assessment from embassy        0

In [3]:
df_final = df['Text']
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

bow = []
for message in df_final:
    words = word_tokenize(message)
    for w in words:
        bow.append(w)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_model = TfidfVectorizer()
tfidf_vec=tfidf_model.fit_transform(df_final)
tfidf_data=pd.DataFrame(tfidf_vec.toarray())

In [5]:
df_train = tfidf_data.iloc[:7000]
df_test = tfidf_data.iloc[7000:]

target = df['Class']
df_train['Class'] = target

Y = df_train['Class']
X = df_train.drop('Class',axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
from sklearn import model_selection
X_train,X_test,y_train,y_test = model_selection.train_test_split(X,Y,test_size=.35, random_state=42)