<a href="https://colab.research.google.com/github/AI4GoodE1/AI4GoodE1/blob/main/data_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import io

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/AI4GoodE1/AI4GoodE1/main/fraud_email_.csv')

In [20]:
# Random sampling of data to investigate dataset
for i in range(0,10):
  v = df.sample()
  print(v.iloc[0]["Text"])
  print(v.iloc[0]["Class"])
  print("-----------------------------------------------------------\n")

He is available until about 645 tonight. After that he catches a flight to london. I will add to your grid.
0
-----------------------------------------------------------

My flight takes off at 8 so call before if you have a minute.CDM
0
-----------------------------------------------------------

RELEASE IN PARTB41.4(B)B11.4(D)B6Berlin was terrific. Lots of good exchanges w leaders.Have you heard anything else?
0
-----------------------------------------------------------

RGVhciBTaXIgLyBNYWRhbSwKSSBhbSBNciBNYXRoaWFzIFNlYWgsIGZyb20gSXZvcnkgQ29hc3QgQWJpZGphbiBidXQgcmVzaWRpbmcgaW4gCkRha2FyIFNlbmVnYWwgaW4gQWZyaWNhLiAKSXQgaXMgbXkgZGVzaXJlIHRvIGNvbnRhY3QgeW91IG9uIGhvbmVzdHkgYW5kIHNpbmNlcml0eSB0byBhc3Npc3QgbWUgCmluIHRyYW5zZmVycmluZyB0aGUgc3VtIG9mICQ4LDUwMCwwMDAoRWlnaHQgTWlsbGlvbiBGaXZlIEh1bmRyZWQgVGhvdXNhbmQgClVuaXRlZCBTdGF0ZXMgRG9sbGFycykgaW5oZXJpdGVkIGZyb20gbXkgZmF0aGVyIGxhdGUgRHIuIFNlYWggQWhtZWQsIHRvIHlvdXIgCmNvdW50cnkgZm9yIGludmVzdG1lbnQuIApJIGFtIG1vdGl2YXRlZCBpbiBjb250YWN0aW5nIHlvdSBhbmQgaG9wZSB0byBncmFkdWFsbHkgYnVpbGQgdHJ1c3QsCnJlbGF0aW9uc2hpcCBhbmQgY29uZmlkZW5jZSBpbiB5b3UgYXMgSSBnZXQgdG8ga25vdyB5b3UgYmV0dGVyLiAKU28gcGxlYXNlIEkgd2FudCB0byBrbm93IGlmIHlvdSB3aWxsIGJlIG9mIGFzc2lzdGFuY2UgYnV0IGZpcnN0IEkgd2FudCAKdG8gZ2V0IHRvIGtub3cgeW91IGJldHRlci4gCkkgYW0gd2lsbGluZyB0byBvZmZlciB5b3UgMzUlKG9mIHRoZSB0b3RhbCBmdW5kLCBmb3IgeW91ciBlZmZvcnQgaW5wdXQgCmFmdGVyIHRoZSBzdWNjZXNzZnVsIHRyYW5zZmVyIG9mIHRoaXMgbW9uZXkgYW5kIGludmVzdG1lbnQuIApJbmRpY2F0ZSB5b3VyIGludGVyZXN0IHRvd2FyZHMgYXNzaXN0aW5nIG1lIGJ5IHNlbmRpbmcgeW91ciBwaG9uZSAjYW5kCmFkZHJlc3MgdG8gbWUgc28gdGhhdCBJIGNhbiBjb21tdW5pY2F0ZSB3aXRoIHlvdSBhdCBhbnkgdGltZS4gCkkgd2lsbCBiZSB3YWl0aW5nIGZvciB5b3VyIHJlc3BvbnNlLiBNeSBhbHRoZXJuYXRpdmUgZW1haWw6IAptYXRoaWFzX3NlYWhAeWFob28uZnIgKCBtYXRoaWFzX3NlYWhAaW5NYWlsMjQuY29tCikgcmVwbHkgYXMgc29vbiBhcyAKcG9zc2libGUgZm9yIG1vcmUgZGV0YWlscy4gClRoYW5rcwpNciBNYXRoaWFzIFNlYWgKIA==--qzsoft_directmail_seperator--
1
-----------------------------------------------------------

1. Churkin called Susan back.B11.4(B)1.4(D)2. Feltman just called.B512/17/2025
0
-----------------------------------------------------------

Judith—in btw our mtgs I'll email you questions or suggestions mostly so I don't forget them!Have you met w Doug Hattaway? I think he's very good.A former Amb has a media project that I need to discuss w you.I loved seeing all of your "boys"!1
0
-----------------------------------------------------------

Also is the gender entity in there -- the new women's agency Look at my UN remarks last week I have several parags onit
0
-----------------------------------------------------------

FYISchedule so far.jm
0
-----------------------------------------------------------

I solved the mystery on ralph thomson the ceo of international business catalysts who sent you letter and mentionedhis export conference this fall. You met him at the business roundtable lunch lorraine hariton organized on july 16th foryou and bob hormats. Ralph was invited because they include all past ACE winners on the invitation list (he won in 2007)and he runs a small/medium size business which is a group they target for these roundtables. Lorraines office is in touchwith him on who would be appropriate to attend his conference.
0
-----------------------------------------------------------

STATEMENT OF SECRETARY CLINTONThe Passing of Victoria DeLongThis morning I spoke with the family of Victoria DeLong the Cultural Affairs Officer at our Embassy in Port-Au-Princewho lost her life in the earthquake. I expressed my sincerest condolences on behalf of the men and women of the StateDepartment and the American people. This is one tragedy among so many. The United Nations has suffered greviouslosses. And the Hatian people have endured unimaginable heartbreak. For the State Department we have lost one ofour own. Victoria was a veteran Foreign Service Officer who worked tirelessly to build bridges of understanding andrespect between the people of the United State and the people of Haiti. She served her country with distinction andhonor and she will be sorely missed. Victoria's friends and colleagues at the Embassy are working day and night tosupport vital relief and recovery efforts and our thoughts our prayers and our deepest thanks are with them as well.Along with the military personnel the search and rescue teams and all the aid and relief workers now deploying theyrepresent the unwavering commitment of the United States to stand with Haiti in its hour of need and in the hard daysand years to come. My heart is with the DeLong family today and with all those in Haiti and around the world who havelost loved ones and friends in this disaster.###
0
-----------------------------------------------------------

In [6]:
# Check for NaN values in data
df1 = df[df.isna().any(axis=1)]
df1

     Text  Class
5129  NaN      1

In [7]:
# Only one NaN, so just drop it
df = df.drop(index=5129)
df2 = df[df.isna().any(axis=1)]
df2

Empty DataFrame
Columns: [Text, Class]
Index: []

In [8]:
# Check for duplicates in data
print("Total: " + str(len(df)))
print("Unique: " + str(df["Text"].nunique()))

Total: 11928
Unique: 10249

In [9]:

df_dup = df.duplicated()
df_dup.rename("IsDuplicate")
df_joined = df.join(df_dup.to_frame())
df_joined

                                                    Text  Class      0
0      Supply Quality China's EXCLUSIVE dimensions at...      1  False
1                             over. SidLet me know. Thx.      0  False
2      Dear Friend,Greetings to you.I wish to accost ...      1  False
3      MR. CHEUNG PUIHANG SENG BANK LTD.DES VOEUX RD....      1  False
4              Not a surprising assessment from Embassy.      0  False
...                                                  ...    ...    ...
11924  Travel well. I'll look forward to hearing your...      0  False
11925  Dear friend, I wish to begin by way of introdu...      1   True
11926  Follow Up Flag: Follow upFlag Status: FlaggedM...      0  False
11927  sbwhoeop B6Saturday January 23 2010 4:09 PMRe:...      0  False
11928  FYI. We are revising call sheet for call to Ka...      0  False

[11928 rows x 3 columns]

In [10]:
df_joined_rename = df_joined.rename(columns={0:'isDuplicate'})
df_joined

                                                    Text  Class      0
0      Supply Quality China's EXCLUSIVE dimensions at...      1  False
1                             over. SidLet me know. Thx.      0  False
2      Dear Friend,Greetings to you.I wish to accost ...      1  False
3      MR. CHEUNG PUIHANG SENG BANK LTD.DES VOEUX RD....      1  False
4              Not a surprising assessment from Embassy.      0  False
...                                                  ...    ...    ...
11924  Travel well. I'll look forward to hearing your...      0  False
11925  Dear friend, I wish to begin by way of introdu...      1   True
11926  Follow Up Flag: Follow upFlag Status: FlaggedM...      0  False
11927  sbwhoeop B6Saturday January 23 2010 4:09 PMRe:...      0  False
11928  FYI. We are revising call sheet for call to Ka...      0  False

[11928 rows x 3 columns]