<a href="https://colab.research.google.com/github/AI4GoodE1/AI4GoodE1/blob/main/data_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import io

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/AI4GoodE1/AI4GoodE1/main/fraud_email_.csv')

In [40]:
# Random sampling of data to investigate dataset
for i in range(0,10):
  v = df.sample()
  print(v.iloc[0]["Text"])
  print(v.iloc[0]["Class"])
  print("-----------------------------------------------------------\n")

7:30 Ukranian Foreign Minister Gryshchenko8 Greek Prime Minister Papandreou
0
-----------------------------------------------------------

FYI--MMM told me she will lead a delegation to Malawi for the marriage on May lof one of the leading women activistsand the President and asked if we knew anyone who'd like to go. Pls let he know. Thx. April 24 engagement party inPhilly
0
-----------------------------------------------------------

Marshall Capricia P <MarshalICP@state.gov>Friday May 28 2010 5:03 PMH■
0
-----------------------------------------------------------

Sullivan Jacob J <SullivanJJ@state.gov>Thursday January 21 2010 7:52 AMHRe: speech
0
-----------------------------------------------------------

Here are more details on the overnight traffic accident.
0
-----------------------------------------------------------

Cheryl and HumaAs HRC requested for this weekend attached is a draft base text for the big speech/FA article. I will be on aplane all day Wednesday heading for Asia to do policy planning talks so it would be great to have her feedback either byphone on Monday or meeting with her on Tuesday — that way I could turn around another draft by Thursday toresponse to her reactons and then Lissa and I could work on turning it into a real speech draft and circulate morewidely. I will also have plenty of time on my trip to work over a version that would be more suitable for Foreign Affairsassuming she is comfortable with the overall frame and the different pieces.Have a good weekend!AM5
0
-----------------------------------------------------------

Ok
0
-----------------------------------------------------------

Please, kindly call me MR NOSA for now, though this is not my complete name. I will give you my full name later.I am in a hide out now in BENIN REPUBLIC, a Country in West African. I have Large sum of money for INVESTMENT.The money is in Millions of U.S. dollars. I cannot move about freely now for reasons i will explain to you later. I need Your help urgently for both SAFE KEEPING and INVESTING this money in your country. You are one of the three email contacts given to me by a Cyber Cafe' operator on my request for a foreign contact. She did not tell me your name or country of origin. Though I did not tellher why I needed the contact of any foreigner.Because of the urgent and confidential nature of thisbusiness, you are advised to keep everything secret for now. if you are interested in doing this business with me, kindly reply immediately on my email Address. After that, i will send you all the verifiable details about the
1
-----------------------------------------------------------

Yes I asked for the same
0
-----------------------------------------------------------

US law. SMe too. He shouldn't retireSent via Cingular Xpress Mail with Slackberri--
0
-----------------------------------------------------------

In [41]:
# Check for NaN values in data
df1 = df[df.isna().any(axis=1)]
df1

     Text  Class
5129  NaN      1

In [42]:
# Only one NaN, so just drop it
df = df.drop(index=5129)
df2 = df[df.isna().any(axis=1)]
df2

Empty DataFrame
Columns: [Text, Class]
Index: []

In [43]:
# Check for duplicates in data
print("Total: " + str(len(df)))
print("Unique: " + str(df["Text"].nunique()))

Total: 11928
Unique: 10249

In [44]:

# df_dup = df.duplicated()
# df_dup.rename("IsDuplicate")
# df_joined = df.join(df_dup.to_frame())
# df_joined

In [45]:
# df_joined_rename = df_joined.rename(columns={0:'isDuplicate'})
# df_joined_rename

In [46]:
#Remove Duplicates
print("Target",df["Text"].nunique())
print("Before",len(df))
#pd.set_option("max_rows", None)
df_unique = df.drop_duplicates(subset = "Text", keep='first')
print("After",len(df_unique))

Target 10249
Before 11928
After 10249

In [47]:
# Export cleaned dataset to csv
df_unique.to_csv('fraud_email_cleaned_no_dups.csv', index = False)